
html, body {
	padding : 0px;
	width: 100%;
	height:100%;
	overflow-x: hidden;
}

body { 
	position: fixed;
	line-height:unset !important;
}

.container {
	justify-content: center;
	align-items: center;
	top:0;
	bottom:0;
}


#footer {
	background:#fff;
	min-height:50px;
	z-index:5;
}

#footer img{
	width:18px;
	height:18px;
}

/* 모바일 */

@media all and (max-width:  767px){
	html, body {
		font-size:0.9rem;
	}
	
	
	.pc-header  {
		display:none;
	}
	.navbar{
		display:flex;
	}
	
	#footer {
		display:flex;
	}
	
	.main {
		position:absolute;
		padding-top:50px;
		padding-bottom:50px;		
	}
}

@media all and (min-width :768px){

	.navbar, #menu,#item_info_chat{
		display:none;
	}
	
	#footer {
		display:none;
	}
	
}

.main {
	overflow:auto;
}

.menu-hide {
	 left:100%;
}

.main{
	height:100%;
	
}


#menu{
	transition: all 0.5s ease-out;
	z-index : 10000;
	
}

.navbar {
	height:50px;
	padding: 0 !important;
	align-items:center;
	min-height:50px;
	z-index:1000;
}


.menu-item{
	padding:1rem;
	font-size:1rem;
	
}

.wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.ft-icon {
	border:0px;
	margin:0px;
}

.row {
	margin:0;
}

.row > * {
	padding:0 5px;
}

.th {
	background:#eee;
	text-align:center;
	vertical-align:middle;
}
.th, .td {
	padding:10px;
	display:table-cell;
}

.tr {
	display:table; 
	width:100%;
}