
html, body {
	padding : 0px;
	width: 100%;
	overflow-x: hidden;
}

body { 
	position: fixed; 
}

.container {
	justify-content: center;
	align-items: center;
}


#footer {
	background:#fff;
	position:fixed; 
	bottom:0px;
	z-index:10000;
}

@media all and (max-width:  767px){
	
	.pc-header {
		display:none;
	}
	
	.main {
		padding-bottom: 70px;
	}
	
	.wrapper {
    	margin-bottom:70px;
	}

	
}

@media all and (min-width :768px){

	.navbar, .collapse, #menu{
		display:none
	}
	
	#footer {
		display:none;
	}
	
}

.menu-hide {
	 left:100%;
}


#menu{

	transition: all 0.5s ease-out;
	
}

.menu-item{

	padding:1rem;
	font-size:1rem;
	
}

.wrapper {
	display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:auto;
}

.ft-icon {
	border:0px;
	margin:0px;
}

.row {
	margin:0;
}

.row > * {
	padding:0 5px;
}

.th {
	background:#eee;
	text-align:center;
	vertical-align:middle;
}
.th, .td {
	padding:10px;
	display:table-cell;
}

.tr {
	display:table; 
	width:100%;
}