<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourmen.mapper.adminMapper">

	<select id="selectadminUser" resultType="UserVO">
		SELECT uidx		
		,nickname
		,user_Email
		,isAdmin
		,DATE_FORMAT(jdate, '%Y-%m-%d') AS jdate
		FROM 
			AnnaUser	
		WHERE
			isDel='N'
	</select>
	
	<select id="selectadminQna" resultType="QnAVO">
		SELECT a.qidx
		,a.qType
		,a.title
		,a.contents
		,a.state
		,DATE_FORMAT(a.wdate, '%Y-%m-%d') AS wdate
		,a.uidx, (
		 select nickName from AnnaUser b where b.uidx = a.uidx 
		   )as userNickName  from QnA a 
		   WHERE
			isDel='N'
			ORDER BY a.qidx DESC
	</select>

	<select id="getReportList" resultType="ReportVO">
	
		SELECT
			r.ridx,
			r.bidx,
			r.item_idx,
			r.repoter,
			(SELECT nickname FROM AnnaUser u where u.uidx = r.repoter) AS repotername,
			r.target,
			(SELECT nickname FROM AnnaUser u where u.uidx = r.target) AS targetname,
			r.evidence,
			r.attach,
			r.report_type,
			r.contents,
			DATE_FORMAT(r.report_date, '%Y-%m-%d') AS report_date,
			r.ban,
			DATE_FORMAT(r.ban_date, '%Y-%m-%d') AS ban_date
		FROM
			report r
			
			order by report_date desc
		
		
		
	</select>
	
	<select id="getReportView" resultType="ReportVO" parameterType="int"> <!-- 신고상세보기 -->
		SELECT
			r.ridx,
			r.bidx,
			r.item_idx,
			r.repoter,
			(SELECT nickname FROM AnnaUser u where u.uidx = r.repoter) AS repotername,
			r.target,
			(SELECT nickname FROM AnnaUser u where u.uidx = r.target) AS targetname,
			r.evidence,
			r.attach,
			r.report_type,
			r.contents,
			DATE_FORMAT(r.report_date, '%Y-%m-%d') AS report_date
		 FROM report r
		WHERE ridx = #{ridx}
	
	</select>
	
	<update id="reportapply" parameterType="int"> <!-- 신고적용 -->
	
		UPDATE report
		   SET ban = 'Y'
		   	  ,ban_date = now()
		 WHERE ridx = #{ridx}
	
	</update>

	
	<update id="toggleAdmin" parameterType="UserVO">
	
		UPDATE 
			AnnaUser
		SET
			isAdmin = #{isAdmin}
		WHERE
			uidx = #{uidx}
	</update>
	
</mapper>




