<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="edu.fourmen.mapper.boardItemMapper">
	

	<select id="selectAll" resultType="BoardItemVO" parameterType="pagemaker" >

		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  
		<if test='searchType != null and searchType.equals("title")'>
		   AND b.title like concat ('%',#{searchVal},'%')
		</if>
		 <if test='cate_idx != 0 and cate_idx != null'>
		 	and cate_idx = #{cate_idx}
		 </if>
		 ORDER BY b.item_idx desc limit #{startPage}, #{pageNum}
	</select>
	
	
	<select id="selectAllbyuser" resultType="BoardItemVO" parameterType="searchvo" >
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  and b.uidx = #{uidx}
			and b.item_idx not like #{item_idx}
			order by item_idx limit 1,6
	</select>
	<select id="totalCount" resultType="Integer" parameterType="pagemaker">
			SELECT 
				count(*)
			FROM Board_Items b
				inner join AnnaUser u
				on b.uidx = u.uidx
			 where b.isDel = 'N'
		<if test='searchType != null and searchType.equals("title")'>
		   AND b.title like concat ('%',#{searchVal},'%')
		 </if>
		   <if test='cate_idx != 0 and cate_idx != null'>
		 	and cate_idx = #{cate_idx}
		 </if>
			
			
	</select>
	

	
	<insert id="boarditemswrite">
	insert into Board_Items(
						uidx
						,cate_idx
						,Title
						,Contents
						,wdate
						,addr1
						,addr2
						,addr_Code
						,image1
						,image2
						,image3
						,image4
						,image5
						,image6
						,image7
						,image8
						,image9
						,image10
						,Keyword
						,Price
						,offer
						,hit
						,state
						,isDel
						) VALUES(
						1
						,#{cate_idx}
						,#{title}
						,#{content}
						,now()
						,#{addr1}
						,#{addr2}
						,#{addr_code}
						,#{image1}
						,#{image2}
						,#{image3}
						,#{image4}
						,#{image5}
						,#{image6}
						,#{image7}
						,#{image8}
						,#{image9}
						,#{image10}
						,#{keyword}
						,#{price}
						,#{offer}
						,1
						,#{state}
						,'N'
						)
	</insert>
	<select id="selectitem" parameterType="int" resultType="BoardItemVO">
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , b.cate_idx
			 , b.image1
			 , b.image2
			 , b.image3
			 , b.image4
			 , b.image5
			 , b.image6
			 , b.image7
			 , b.image8
			 , b.image9
			 , b.image10
			 , u.nickname
			 , b.Keyword
			 , b.Price
			 , b.offer
			 , b.state
			 
		FROM Board_Items b , AnnaUser u
		WHERE b.uidx = u.uidx
		AND b.item_idx = #{item_idx}
	</select>

	<update id="itemmodify" parameterType="BoardItemVO">
	Update Board_Items Set
						cate_idx = #{cate_idx}
						,Title = #{title}
						,Contents = #{content}
						,wdate = now()
						,addr1 = #{addr1}
						,addr2 = #{addr2}
						,addr_Code = #{addr_code}
						,image1 = #{image1}
						,image2 = #{image2}
						,image3 = #{image3}
						,image4 = #{image4}
						,image5 = #{image5}
						,image6 = #{image6}
						,image7 = #{image7}
						,image8 = #{image8}
						,image9 = #{image9}
						,image10 = #{image10}
						,Keyword = #{keyword}
						,Price = #{price}
						,offer = #{offer}
						,hit = 1 
						,state = #{state}
						,isDel = 'N'
						
						where item_idx = #{item_idx}
						
	</update>
	
	<update id="itemdelete" parameterType="int">
		update Board_Items Set
			isDel = 'Y'
		where item_idx = #{item_idx}
	</update>

	
	<select id="MinPrice" resultType="BoardItemVO" parameterType="pagemaker">
		select min(Price) 
			 , b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , b.cate_idx
			 , image1
			 , u.nickname
			 , b.Keyword
			 , b.Price
			 , b.offer
			 , b.state
			from Board_Items b
			inner join AnnaUser u
			on b.uidx = u.uidx
			 where b.isDel = 'N' 
			<if test='searchType != null and searchType.equals("title")'>
		   AND b.title like concat ('%',#{searchVal},'%')
		</if>
	order by b.wdate desc limit 0,1
	</select>
	
	<insert id="addNeighbor" >
		insert into Neighbor
					(
					 uidx
					,neighbor_idx
					)
					VALUES
					(
					 #{uidx}
					,#{neighbor_idx}
					)
	</insert>
	
	<select id="myNeighbor">
		select neighbor_idx from Neighbor where uidx = #{uidx}
	</select>
	
	<select id="yourNeighbor">
		select	neighbor_idx from Neighbor where uidx = #{uidx}
	</select>
	
	
	<insert id="insertChat">
		INSERT INTO chat(
				uidx
			,	item_idx
			,	contents
			,	chat_host
			,	cdate
			,	invited
			)
			VALUES(
				 #{uidx}
			,	 #{item_idx}
			,	 #{contents}
			,	 #{chat_host}
			,	 now()
			,	 #{invited}
			)
	</insert>
	<select id="selectChat" parameterType="int" resultType="chatVO">
		select contents,date_format(now(),'%y-%m-%d-%h:%i') from chat 
		where chat_host = #{chat_host} and 
				invited = #{invited} and 
				item_idx = #{item_idx} 
				order by cidx 
	
	</select>
	
	
</mapper>