<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourman.mapper.boardMapper">

<insert id="boardinsert">
	INSERT INTO Board(
			 uidx
			,board_type
			,Title
			,Contents
			,Location
			,Image1
			,Image2
			,Image3
			,Image4
			,Image5
			,place_location
			,place_name
			,Hit
	)VALUES(
			 #{uidx}
			,#{board_type}
			,#{Title}
			,#{Contents}
			,#{Location}
			,#{Image1}
			,#{Image2}
			,#{Image3}
			,#{Image4}
			,#{Image5}
			,#{place_location}
			,#{place_name}
			,0
	)


</insert>
<insert id="reportinsert">
	INSERT INTO report(
			 bidx
			,repoter 
			,target
			,evidence
			,attach
			,report_type
			,contents
			 
	)VALUES(
			 #{bidx}
			,#{repoter}
			,#{target}
			,#{evidence}
			,#{attach}
			,#{report_type}
			,#{contents}
			
	)


</insert>

<select id="totalCount" parameterType="hashmap" resultType="int">
	 SELECT 
		count(*)
	  FROM Board b
	 INNER JOIN AnnaUser u
	  	ON b.uidx = u.uidx
	 WHERE b.isDel ='N'
	 	  
<if test='pm.board_type != null and pm.board_type != ""'>
	   AND b.board_type = #{pm.board_type}
</if>

<if test="pm.searchVal != null">
	AND (b.Contents like concat('%',#{pm.SearchVal},'%')
	 	OR u.nickname like concat('%',#{pm.SearchVal},'%')
	    OR b.Title like concat('%',#{pm.SearchVal},'%')) 
	
</if>
<if test="pm.searchUidx != null and pm.searchUidx != 0">
	AND b.uidx = #{pm.searchUidx} AND b.board_type != 'notice'
</if>

<if test="locationList != null">
	<foreach collection="locationList" item="item"  separator="OR" open="AND (" close=")">
		b.location like concat('%',#{item},'%') AND b.board_type != 'notice'
	</foreach>
</if>

</select>

<select id="viewBoard" resultType="boardvo" parameterType="int"> 
	SELECT b.Title
		  ,b.Contents
		  ,date_format(b.Wdate,'%Y-%m-%d')as Wdate
		  ,b.board_type
		  ,b.Hit
		  ,(select count(*) from Board_like c where c.Bidx = b.Bidx) as cntLike
		  ,b.Bidx
		  ,b.uidx
		  ,u.nickname
		  ,b.Image1
		  ,b.Image2
		  ,b.Image3
		  ,b.Image4
		  ,b.Image5
		  ,b.place_location
		  ,b.place_name
	  FROM Board b, AnnaUser u
	 WHERE b.Uidx = u.uidx
	   AND b.Bidx = #{Bidx}
</select>


<insert id="commentwrite" parameterType="boardvo">
	INSERT INTO reply(
			 uidx
			,Bidx
			,contents
	)VALUES(
			 #{uidx}
			,#{Bidx} 
			,#{Contents}
	)
</insert>

<select id="getCTotal" resultType="int" parameterType="boardvo"> <!-- vo로 받는 이유 isDel -->
  	SELECT
  	 COUNT(
  	 	contents
  	 )
  	  FROM reply 
  	 WHERE Bidx = #{Bidx}
</select>

<select id="getCList" resultType="boardvo" parameterType="int">
  	SELECT r.Uidx as Uidx
  		  ,r.Bidx as Bidx
  		  ,r.reply_idx
  		  ,u.nickName as nickName
  		  ,r.contents as contents
  		  ,date_format(r.Wdate,'%Y-%m-%d')as Wdate
  	  FROM reply r, AnnaUser u
  	 WHERE r.Bidx = #{Bidx}
  	   AND r.Uidx = u.uidx
</select>

<insert id="boardLikeUP">
	INSERT INTO Board_like(
			Uidx
		   ,Bidx
	)VALUES(
			#{uidx}
		   ,#{Bidx}
	)
</insert>

<delete id="boardLikeDown">
	DELETE 
	  FROM Board_like
	 WHERE Bidx = #{Bidx}
	   AND Uidx = #{uidx}
</delete>


<select id="Likeyn" resultType="int" parameterType="boardvo">
	SELECT count(*)
	  FROM Board_like
     WHERE Bidx = #{Bidx}
	   AND Uidx = #{uidx}
</select>

<update id="HitUp">
	UPDATE Board
	   SET Hit = Hit+1
	 WHERE Bidx = #{Bidx}
</update>

<update id="boardDelete">
	UPDATE Board
	   SET isDel = 'Y'
	 WHERE Bidx = #{Bidx}
</update>

<select id="selectboard" resultType="boardvo" parameterType="hashmap">
	SELECT b.Bidx
		  ,b.Title
		  ,b.Uidx
		  ,b.Contents
		  ,b.Hit
		  ,date_format(b.Wdate,'%Y-%m-%d')as Wdate
		  ,u.nickname
		  ,b.board_type
		  ,b.isDel
		  ,b.Image1
		  ,(select count(*) from reply r where r.Bidx = b.Bidx) as ccount
		  ,(select count(*) from Board_like c where c.Bidx = b.Bidx) as cntLike
		  ,b.location
	  FROM Board b
	 INNER JOIN AnnaUser u
	  	ON b.uidx = u.uidx
	 WHERE b.isDel ='N'
	  
<if test='pm.board_type != null and pm.board_type != ""'>
	   AND b.board_type = #{pm.board_type}
</if>

<if test="pm.searchVal != null">
	AND (b.Contents like concat('%',#{pm.SearchVal},'%')
	 	OR u.nickname like concat('%',#{pm.SearchVal},'%')
	    OR b.Title like concat('%',#{pm.SearchVal},'%')) 
	
</if>
<if test="pm.searchUidx != null and pm.searchUidx != 0">
	AND b.uidx = #{pm.searchUidx} AND b.board_type != 'notice'
</if>
<if test="locationList != null">
	<foreach collection="locationList" item="item"  separator="OR" open="AND (" close=")">
		b.location like concat('%',#{item},'%') AND b.board_type != 'notice'
	</foreach>
</if>

	 ORDER BY b.Wdate desc

<if test='pm.board_type != null and pm.board_type.equals("free")'> 
	 limit #{pm.startPage}, #{pm.pageNum}
</if>

<if test = '(pm.board_type == null or pm.board_type != "free")'>
	limit #{pm.epage}, #{pm.pageNum}
</if>

	


</select>

<update id="boardModify">
	UPDATE Board
	   SET Title = #{Title}
	   	  ,board_type =#{board_type}
	   	  ,Contents = #{Contents}
	   	  ,Wdate = now()
	   	  ,Location = #{Location}
	   	  <if test="place_location != null">
	   	  ,place_location = #{place_location}
	   	  </if>
	   	  <if test="place_name != null">
	   	  ,place_name = #{place_name}
	   	  </if>
	   	  <if test="Image1 != null">
	   	  ,Image1 = #{Image1}
	   	  </if>
	   	  <if test="Image2 != null">
	   	  ,Image2 = #{Image2}
	   	  </if>
	   	  <if test="Image3 != null">
	   	  ,Image3 = #{Image3}
	   	  </if>
	   	  <if test="Image4 != null">
	   	  ,Image4 = #{Image4}
	   	  </if>
	   	  <if test="Image5 != null">
	   	  ,Image5 = #{Image5}
	   	  </if>
	 WHERE Bidx = #{Bidx}


</update>

<delete id="replyDel">
	DELETE 
	  FROM reply
	 WHERE reply_idx = #{reply_idx}

</delete>

<update id="replyModify">
	UPDATE reply
	   SET contents = #{contents}
	 WHERE reply_idx = #{reply_idx}
</update>

</mapper>