<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourman.mapper.boardMapper">

<insert id="boardinsert">
	INSERT INTO Board(
			 uidx
			,board_type
			,Title
			,Contents
			,Wdate
			,Location
			,Image1
			,Image2
			,Image3
			,Image4
			,Image5
	)VALUES(
			 #{uidx}
			,#{board_type}
			,#{Title}
			,#{Contents}
			,now()
			,#{Location}
			,#{Image1}
			,#{Image2}
			,#{Image3}
			,#{Image4}
			,#{Image5}
	)


</insert>



<select id="selectfreeboard" resultType="boardvo" parameterType="pagemaker">
	SELECT b.Bidx
		  ,b.Title
		  ,b.Uidx
		  ,b.Contents
		  ,b.Hit
		  ,b.Wdate
		  ,u.nickname
		  ,b.board_type
		  ,b.isDel
		  ,b.Image1
		  ,b.ccount
		  ,(select count(*) from Board_like c where c.Bidx = b.Bidx) as cntLike
	  FROM Board b
	 INNER JOIN AnnaUser u
	  	ON b.uidx = u.uidx
	 WHERE b.isDel ='N'
	   <if test='searchType != null and searchType.equals("All")'>
	 	    AND b.Contents like concat('%',#{SearchVal},'%')
	 	    OR u.nickname like concat('%',#{SearchVal},'%')
	 		OR b.Title like concat('%',#{SearchVal},'%')
	 		
	 	</if>
	   <if test='searchType != null and searchType.equals("title")'>
	 		AND b.Title like concat('%',#{SearchVal},'%')
	 		
	 		
	 	</if>
	 	<if test='searchType != null and searchType.equals("contentWriter")'>
	 		AND b.Contents like concat('%',#{SearchVal},'%')
	 		OR u.nickname like concat('%',#{SearchVal},'%')	
	 	</if> 
	 	
	 	ORDER BY b.Wdate desc
	 	limit #{startPage}, #{pageNum}
	 	
</select>

<select id="totalCount" parameterType="pagemaker" resultType="int">
	SELECT COUNT(Bidx)
	  FROM Board b
	  INNER JOIN AnnaUser u
	  	ON b.uidx = u.uidx
	 WHERE b.isDel = 'N'
		  <if test='searchType != null and searchType.equals("All")'>
	 	    AND b.Contents like concat('%',#{SearchVal},'%')
	 	    OR u.nickname like concat('%',#{SearchVal},'%')
	 		OR b.Title like concat('%',#{SearchVal},'%')	
	 	</if>
	   <if test='searchType != null and searchType.equals("title")'>
	 		AND b.Title like concat('%',#{SearchVal},'%')
	 	</if>
	 	<if test='searchType != null and searchType.equals("contentWriter")'>
	 		AND b.Contents like concat('%',#{SearchVal},'%')
	 		OR u.nickname like concat('%',#{SearchVal},'%')
	 	</if>
</select>

<select id="viewBoard" resultType="boardvo" parameterType="int"> 
	SELECT b.Title
		  ,b.Contents
		  ,b.Wdate
		  ,b.Bidx
		  ,b.uidx
		  ,u.nickname
		  ,b.Image1
		  ,b.Image2
		  ,b.Image3
		  ,b.Image4
		  ,b.Image5
	  FROM Board b, AnnaUser u
	 WHERE b.Uidx = u.uidx	  
	   AND b.Bidx = #{Bidx}
</select>


<insert id="commentwrite" parameterType="boardvo">
	INSERT INTO reply(
			 uidx
			,Bidx
			,contents
		    ,Wdate
	)VALUES(
			 #{uidx}
			,#{Bidx} 
			,#{Contents}
			,now()
	)
</insert>

<select id="getCTotal" resultType="int" parameterType="boardvo"> <!-- vo로 받는 이유 isDel -->
  	SELECT
  	 COUNT(
  	 	contents
  	 )
  	  FROM reply 
  	 WHERE Bidx = #{Bidx}
</select>

<select id="getCList" resultType="boardvo" parameterType="int">
  	SELECT r.Uidx as Uidx
  		  ,r.Bidx as Bidx
  		  ,u.nickName as nickName
  		  ,r.contents as contents
  		  ,r.Wdate as Wdate
  	  FROM reply r, AnnaUser u
  	 WHERE r.Bidx = #{Bidx}
  	   AND r.Uidx = u.uidx
</select>

<update id="Ccount" parameterType="int">
	UPDATE Board
	   SET Ccount = Ccount+1
	 WHERE Bidx = #{Bidx}
</update>

<insert id="boardLikeUP">
	INSERT INTO Board_like(
			Uidx
		   ,Bidx
	)VALUES(
			#{uidx}
		   ,#{Bidx}
	)
</insert>

<delete id="boardLikeDown">
	DELETE 
	  FROM Board_like
	 WHERE Bidx = #{Bidx}
	   AND Uidx = #{uidx}
</delete>


<select id="Likeyn" resultType="int" parameterType="boardvo">
		SELECT count(*)
		  FROM Board_like
		 WHERE Bidx = #{Bidx}
		   AND Uidx = #{uidx}
</select>



</mapper>