<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="edu.fourmen.mapper.boardItemMapper">


	<select id="selectAll" resultType="BoardItemVO" parameterType="hashmap" >
	SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.contents
			 , date_format(b.wdate,'%y-%m-%d-%h:%i')as wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			 , b.isDel
			 , b.state
			 , b.keyword
			 , b.addr_code
			 , b.hit
			 , (select count(*) from Wish_list w where w.item_idx = b.item_idx and w.uidx = #{pagemaker.uidx} ) as WishCheck
			 , (select count(uidx)as WishCount from Wish_list where item_idx = b.item_idx)as WishCount
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  
			and b.isDel ='N'
		<if test='pagemaker.searchVal != null '>
		   AND ( b.title like concat ('%',#{pagemaker.searchVal},'%')  
		   or b.keyword like concat ('%',#{pagemaker.searchVal},'%') )
		</if>
		<if test='addr_code != null'>
			<!-- and b.addr_code like concat ('%',#{pagemaker.addr_code},'%') -->
			<foreach collection="addr_code" item="item" separator="OR" open="AND (" close=")">
				b.addr_code like concat('%',#{item},'%')
			</foreach>
		</if>
		<if test='pagemaker.searchUidx != 0 '>
			AND b.uidx = #{pagemaker.searchUidx}
		</if>
		 <if test='pagemaker.cate_idx != 0 and pagemaker.cate_idx != null'>
		 	and cate_idx = #{pagemaker.cate_idx}
		 </if> 
		 <if test="pagemaker.WishCheck ==4">
		 	<foreach collection="interested" item="item"  separator="OR" open="AND (" close=")">
				b.keyword like concat('%',#{item},'%') and b.uidx != #{pagemaker.uidx}
			</foreach>
		 </if> 
		
		 <if test="pagemaker.WishCheck ==3">
		 and  b.uidx != #{pagemaker.uidx} and b.state = 1 ORDER BY WishCount desc limit #{pagemaker.startPage}, #{pagemaker.pageNum}
		 </if>
		 <if test="pagemaker.WishCheck !=3">
			 ORDER BY wdate desc  limit #{pagemaker.startPage}, #{pagemaker.pageNum}
		 </if>
	</select>
	
	
	<select id="selectAllbyuser" resultType="BoardItemVO" parameterType="searchvo" >
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.contents
			 , date_format(b.wdate,'%y-%m-%d-%h:%i')as wdate
			 , u.nickName
			 , b.Price
			 , b.state
			 , b.image1
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  and b.uidx = #{uidx}
			and b.item_idx not like #{item_idx}
			order by item_idx limit 1,4
	</select>
	<select id="totalCount" resultType="Integer" parameterType="pagemaker">
			SELECT 
				count(*)
			FROM Board_Items b
				inner join AnnaUser u
				on b.uidx = u.uidx
			 where b.isDel = 'N'
		   <if test='searchVal != null '>
		   AND ( b.title like concat ('%',#{searchVal},'%')  
		   or b.keyword like concat ('%',#{searchVal},'%') )
			</if>
			<if test='searchUidx != 0 '>
				AND b.uidx = #{searchUidx}
			</if>
			 <if test='cate_idx != 0 and cate_idx != null'>
			 	and cate_idx = #{cate_idx}
			 </if>
	</select>
	
	<select id="myitemlist" parameterType="int" resultType="BoardItemVO">
			SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.contents
			 , b.wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			 , b.isDel
			 , b.state
			 , b.keyword
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  
			and b.isDel ='N'
			and b.uidx = #{uidx}
	</select>

	
	<insert id="boarditemswrite">
	insert into Board_Items(
						uidx
						,cate_idx
						,Title
						,contents
						,wdate
						,addr1
						,addr2
						,addr_Code
						,image1
						,image2
						,image3
						,image4
						,image5
						,image6
						,image7
						,image8
						,image9
						,image10
						,Keyword
						,Price
						,offer
						,hit
						,state
						,isDel
						) VALUES(
						 #{uidx}	
						,#{cate_idx}
						,#{title}
						,#{contents}
						,now()
						,#{addr1}
						,#{addr2}
						,#{addr_code}
						,#{image1}
						,#{image2}
						,#{image3}
						,#{image4}
						,#{image5}
						,#{image6}
						,#{image7}
						,#{image8}
						,#{image9}
						,#{image10}
						,#{keyword}
						,#{price}
						,#{offer}
						,1
						,1
						,'N'
						)
	</insert>
	<select id="selectitem" parameterType="BoardItemVO" resultType="BoardItemVO">
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.contents
			 , b.wdate
			 , b.cate_idx
			 , b.image1
			 , b.image2
			 , b.image3
			 , b.image4
			 , b.image5
			 , b.image6
			 , b.image7
			 , b.image8
			 , b.image9
			 , b.image10
			 , u.nickName
			 , b.Keyword
			 , b.Price
			 , b.offer
			 , b.state
			 , b.hit
			 , b.addr_Code
		FROM Board_Items b , AnnaUser u
		WHERE b.uidx = u.uidx
		AND b.item_idx = #{item_idx}
	</select>

	<update id="itemmodify" parameterType="BoardItemVO">
	Update Board_Items Set
						cate_idx = #{cate_idx}
						,Title = #{title}
						,contents = #{contents}
						,wdate = now()
						,addr1 = #{addr1}
						,addr2 = #{addr2}
						,addr_Code = #{addr_code}
						<if test="image1 != null">
						,image1 = #{image1}
						</if>
						<if test="image2 != null">
						,image2 = #{image2}
						</if>
						<if test="image3 != null">
						,image3 = #{image3}
						</if>
						<if test="image4 != null">
						,image4 = #{image4}
						</if>
						<if test="image5 != null">
						,image5 = #{image5}
						</if>
						<if test="image6 != null">
						,image6 = #{image6}
						</if>
						<if test="image7 != null">
						,image7 = #{image7}
						</if>
						<if test="image8 != null">
						,image8 = #{image8}
						</if>
						<if test="image9 != null">
						,image9 = #{image9}
						</if>
						<if test="image10 != null">
						,image10 = #{image10}
						</if>
						,Keyword = #{keyword}
						,Price = #{price}
						,offer = #{offer}
						,hit = 1 
						,state = #{state}
						,isDel = 'N'
						
						where item_idx = #{item_idx}
						
	</update>
	
	<update id="itemdelete" parameterType="int">
		update Board_Items Set
			isDel = 'Y'
		where item_idx = #{item_idx}
	</update>

	
	<select id="MinPrice" resultType="BoardItemVO" parameterType="pagemaker">
		select min(Price) 
			 , b.item_idx
			 , b.Title
			 , b.uidx
			 , b.contents
			 , b.wdate
			 , b.cate_idx
			 , image1
			 , u.nickname
			 , b.Keyword
			 , b.Price
			 , b.offer
			 , b.state
			 , b.hit
			from Board_Items b
			inner join AnnaUser u
			on b.uidx = u.uidx
			 where b.isDel = 'N' 
		<if test='searchVal != null '>
		   AND ( b.title like concat ('%',#{searchVal},'%')  
		   or b.keyword like concat ('%',#{searchVal},'%') )
		</if>
		 <if test='cate_idx != 0 and cate_idx != null'>
		 	and cate_idx = #{cate_idx}
		 </if>
	order by b.wdate desc limit 0,1
	</select>

	
	<select id="myNeighbor">
		select neighbor_idx, 
		(select nickName from AnnaUser where uidx = neighbor_idx ) as nickName 
		from Neighbor where uidx = #{uidx}
	</select>
	
	<select id="yourNeighbor">
		select neighbor_idx, 
		(select nickName from AnnaUser where uidx = neighbor_idx ) as nickName 
		from Neighbor where uidx = #{youidx}
										<!-- 임시로 지정한것! 바꿀것!@!#!!@#@!@# -->
	</select>
	
	<select id="neighbor_check" resultType="int" parameterType="BoardItemVO">
		select COUNT(*) from Neighbor 
		where uidx = #{uidx}
		 and  neighbor_idx = #{neighbor_idx}
	</select>
	
	<select id="neighbor_list" resultType="BoardItemVO" parameterType="int">
		select neighbor_idx,(
 			select nickname from AnnaUser where uidx = neighbor_idx )as nickName 
 		from Neighbor where uidx = #{uidx}
	</select>	
	<insert id="addNeighbor" >
		insert into Neighbor
					(
					 uidx
					,neighbor_idx
					)
					VALUES
					(
					 #{uidx}
					,#{neighbor_idx}
					)
	</insert>
	

	<delete id="delneighbor" parameterType="java.util.HashMap">
		delete from Neighbor 
		where 
		uidx = #{uidx} AND
		neighbor_idx = #{neighbor_idx}
	</delete>
	
	<insert id="insertChat" parameterType="chatVO">
		INSERT INTO chat(
				uidx
			,	item_idx
			,	contents
			,	chat_host
			,	cdate
			,	invited
			)
			VALUES(
				 #{uidx}
			,	 #{item_idx}
			,	 #{contents}
			,	 #{chat_host}
			,	 now()
			,	 #{invited}
			)
	</insert>
	<select id="selectChat" parameterType="chatVO" resultType="chatVO">
		select a.item_idx
			  ,a.chat_host
			  ,a.cidx
			  ,a.contents
			  ,a.invited
			  ,date_format(a.cdate,'%y-%m-%d-%h:%i')
			  ,b.nickName
			  ,b.uidx
			  from chat a ,AnnaUser b
		where a.uidx = b.uidx
		and chat_host = #{chat_host} 
		and invited = #{invited}
		and item_idx = #{item_idx}  order by cidx 
	</select>
	
	<select id="mychatlist" parameterType="chatVO"  resultType="chatVO">
 		  select DISTINCT a.item_idx,c.nickname from  chat a, AnnaUser c
 				where a.uidx =  c.uidx 
 				and a.chat_host = #{chat_host} 
 				order by a.item_idx desc
	</select>
	
	<select id="mychat" parameterType="chatVO" resultType="chatVO">
		select a.item_idx,c.nickname ,a.contents, a.uidx,date_format(a.cdate,'%y-%m-%d-%h:%i')
			from  chat a, AnnaUser c
	 		where a.uidx = c.uidx 
	 		and item_idx = #{item_idx}
	 		  order by a.cdate desc
	</select>
	
	<insert id="addWish">
		insert into Wish_list(uidx, item_idx) values(#{uidx},#{item_idx})
	</insert>
	
	<select id="checkWish" parameterType="BoardItemVO" resultType="int">
		 select count(*) from Wish_list where item_idx = #{item_idx} and uidx = #{uidx}
	</select>
	
	
	<select id="mywish" parameterType="int" resultType="BoardItemVo">
			select 
             b.item_idx
                , b.Title
                , b.uidx
                , b.contents
                , b.wdate
                , b.cate_idx
                , b.image1
                , b.image2
                , b.image3
                , b.image4
                , b.image5
                , b.image6
                , b.image7
                , b.image8
                , b.image9
                , b.image10
                , (select nickName from AnnaUser where uidx = b.uidx) as nickName
                , b.Keyword
                , b.Price
                , b.offer
                , b.state
              from Board_Items b
       where b.item_idx in (select item_idx from Wish_list where uidx = #{uidx})
	</select>
	
	
	
	<delete id ="delWish" parameterType="BoardItemVO">
		delete from Wish_list
		where item_idx = #{item_idx} and uidx = #{uidx}
	</delete>
	
	<insert id="report_target" >
		 insert into report(
					 item_idx
					 ,repoter
					 ,target
					 ,evidence
					 ,attach
					 ,report_type
					 ,contents
					 ,report_date
					 )
					 values
					 (
					 #{item_idx}
					 ,#{repoter}
					 ,#{target}
					 ,1
					 ,#{attach}
					 ,#{report_type}
					 ,#{contents}
					 ,date_format(now(),'%y-%m-%d-%h:%i')
			 )           
	</insert>
	
	<select id="WishCount" parameterType="int" resultType="int">
		select count(uidx) from Wish_list where item_idx = #{item_idx}
	</select>
	
	<update id="addviewCount" parameterType="int">
		update Board_Items set hit = hit+1 where item_idx = #{item_idx}
	</update>
	
	<select id="viewCount" parameterType="int" resultType="int">
		select hit from Board_Items where item_idx = #{item_idx}
	</select>
	
	<select id="myblackList" parameterType="int" resultType="BoardItemVO"> 
		 select black_idx,
 		(select nickname from AnnaUser where uidx = black_idx)as 
 		nickName  
 		from blackList where uidx = #{uidx}
	</select>
	
	<delete id="delmyblackList" parameterType="BoardItemVO">
		delete from blackList 
		where uidx = #{uidx} 
		and black_idx = #{black_idx}
	</delete>
	
	<insert id="addblackList" parameterType="BoardItemVO">
		insert into blackList (
							  uidx
							 ,black_idx
							) values (
							 #{uidx}
							,#{black_idx}
							)
	</insert>
	
	<update id="udate_state" parameterType="hashmap">
		 update Board_Items set state = #{state} where item_idx = #{item_idx}
	</update>
	
	
	<update id="update_wdate" parameterType="int">
		update Board_Items set wdate = now() where item_idx = #{item_idx}
	</update>
	
	
</mapper>