<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourman.mapper.boardMapper">

<insert id="boardinsert">
	INSERT INTO Board(
			 Uidx
			,board_type
			,Title
			,Contents
			,Wdate
			,Location
			,Image1
			,Image2
			,Image3
			,Image4
			,Image5
	)VALUES(
			 1
			,#{board_type}
			,#{Title}
			,#{Contents}
			,now()
			,#{Location}
			,#{Image1}
			,#{Image2}
			,#{Image3}
			,#{Image4}
			,#{Image5}
	)


</insert>

<select id="selectfreeboard" resultType="boardvo" parameterType="searchvo">
	SELECT b.Bidx
		  ,b.Title
		  ,b.Uidx
		  ,b.Contents
		  ,b.Hit
		  ,b.Wdate
		  ,u.nickname
		  ,b.board_type
		  ,b.isDel
	  FROM Board b
	 INNER JOIN AnnaUser u
	  	ON b.Uidx = u.uidx
	 WHERE b.board_type = 'free'
	   AND b.isDel ='N'
	   <if test='searchType != null and searchType.equals("All")'>
	 	    AND b.Contents like concat('%',#{SearchVal},'%')
	 	    OR u.nickname like concat('%',#{SearchVal},'%')
	 		OR b.Title like concat('%',#{SearchVal},'%')
	 		
	 	</if>
	   <if test='searchType != null and searchType.equals("title")'>
	 		AND b.Title like concat('%',#{SearchVal},'%')
	 		
	 		
	 	</if>
	 	<if test='searchType != null and searchType.equals("contentWriter")'>
	 		AND b.Contents like concat('%',#{SearchVal},'%')
	 		OR u.nickname like concat('%',#{SearchVal},'%')
	 		
	 		
	 	</if> 
</select>

<select id="viewBoard" resultType="boardvo" parameterType="int"> 
	SELECT b.Title
		  ,b.Contents
		  ,b.Wdate
		  ,b.Bidx
		  ,b.Uidx
		  ,u.nickname
	  FROM Board b, AnnaUser u
	 WHERE b.Uidx = u.uidx	  
	   AND b.Bidx = #{Bidx}
</select>


</mapper>