<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="edu.fourmen.mapper.boardItemMapper">
	
	<select id="selectAll" resultType="BoardItemVO" parameterType="searchvo" >
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  
			<if test='searchType != null and searchType.equals("title")'>
		   AND b.title like concat ('%',#{searchVal},'%')
		 </if>
		<if test='searchType != null and searchType.equals("contentWriter")'>
		   AND (b.content like concat ('%',#{searchVal},'%')
		    OR u.name like concat ('%',#{searchVal},'%')
		 </if>
		   <if test='cate_idx != 0 and cate_idx != null'>
		 	and cate_idx = #{cate_idx}
		 </if>
		 ORDER BY b.item_idx desc LIMIT #{pageStart}, #{perPageNum}
		 
	</select>
	
	
	<select id="selectAllbyuser" resultType="BoardItemVO" parameterType="searchvo" >
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , u.nickName
			 , b.Price
			 , b.image1
			FROM Board_Items b, AnnaUser u
			WHERE b.uidx = u.uidx  and b.uidx = #{uidx}
			and b.item_idx not like #{item_idx}
			order by item_idx limit 1,6
	</select>
	<select id="totalcount" resultType="int" >
		<![CDATA[
			SELECT 
				count(*)
			FROM Board_Items where isDel = 'N'
		]]>
	</select>
	
	
	<insert id="boarditemswrite" parameterType="BoardItemVO">
	insert into Board_Items(
						uidx
						,cate_idx
						,Title
						,Contents
						,wdate
						,addr1
						,addr2
						,addr_Code
						,image1
						,image2
						,image3
						,image4
						,image5
						,image6
						,image7
						,image8
						,image9
						,image10
						,Keyword
						,Price
						,offer
						,hit
						,state
						,isDel
						) VALUES(
						1
						,#{cate_idx}
						,#{title}
						,#{content}
						,now()
						,#{addr1}
						,#{addr2}
						,#{addr_code}
						,#{image1}
						,#{image2}
						,#{image3}
						,#{image4}
						,#{image5}
						,#{image6}
						,#{image7}
						,#{image8}
						,#{image9}
						,#{image10}
						,#{keyword}
						,#{price}
						,#{offer}
						,1
						,#{state}
						,'N'
						)
	</insert>
	<select id="selectitem" parameterType="int" resultType="BoardItemVO">
		SELECT b.item_idx
			 , b.Title
			 , b.uidx
			 , b.Contents
			 , b.wdate
			 , b.cate_idx
			 , image1
			 , image2
			 , image3
			 , image4
			 , image5
			 , image6
			 , image7
			 , image8
			 , image9
			 , image10
			 , u.nickname
			 , b.Keyword
			 , b.Price
			 , b.offer
			 , b.state
			 
		FROM Board_Items b , AnnaUser u
		WHERE b.uidx = u.uidx
		AND b.item_idx = #{item_idx}
	</select>
	
	
</mapper>