<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourmen.mapper.userMapper">

	<select id="emailChk" parameterType="string" resultType="_int">
		SELECT 
			count(*) as cnt
		FROM AnnaUser
		WHERE user_email = #{ user_email }
		AND isDel = 'N'
	</select>
	
	<insert id="joinS1" parameterType="UserVO">
		INSERT INTO AnnaUser(
			nickName,
			user_email,
			user_pwd
		) VALUES (
			#{ nickName },
			#{ user_email },
			#{ user_pwd }
		)
	</insert>
	
</mapper>