<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.fourmen.mapper.userMapper">

	<select id="emailChk" parameterType="string" resultType="_int">
	
		SELECT 
			count(*) as cnt
		FROM 
			AnnaUser
		WHERE 
			user_email = #{ user_email } AND
			isDel = 'N'
			
	</select>
	
	<insert id="join" parameterType="UserVO">
	
		INSERT INTO AnnaUser(
			nickName,
			user_email,
			kakao_auth,
			profile_image,
			user_pwd
		) VALUES (
			#{ nickName },
			#{ user_email },
			#{ kakao_auth },
			#{ profile_image },
			#{ user_pwd }
		)
		
	</insert>
	
	<select id="login" parameterType="UserVO" resultType="UserVO">
	
		SELECT 
			uidx,
			nickName,
			user_email,
			location_auth,
			kakao_auth,
			interested,
			user_pwd,
			isAdmin
		FROM 
			AnnaUser
		WHERE
			user_email = #{ user_email } AND
			isDel = 'N'
			
	</select>
	
	<select id="keepLogin" parameterType="UserVO" resultType="UserVO">
	
		SELECT 
			uidx,
			nickName,
			user_email,
			profile_image,
			location_auth,
			kakao_auth,
			interested,
			user_pwd,
			isAdmin
		FROM 
			AnnaUser
		WHERE
			uidx = #{ uidx }
			
	</select>
	
	<update id="updateKakaoAuthKey" parameterType="UserVO">
	
		UPDATE 
			AnnaUser
		SET
			kakao_auth = #{ kakao_auth }
		WHERE
			uidx = #{ uidx }
	
	</update>
	
	<select id="getUserInfo" parameterType="int" resultType="UserVO">
		
		SELECT
			uidx,
			nickName,
			user_email,
			profile_image,
			location_auth,
			kakao_auth,
			interested,
			introduce,
			user_pwd,
			isAdmin
		FROM
			AnnaUser
		WHERE
			uidx = #{ uidx }
		
	</select>
	
	<update id="userInfoMod" parameterType="UserVO">
	
		UPDATE 
			AnnaUser
		SET
			nickName = #{ nickName },
			introduce = #{ introduce }
		WHERE 
			uidx = #{ uidx }
			
	</update>
	
	<update id="updateInterested" parameterType="UserVO">
	
		UPDATE
			AnnaUser
		SET
			<if test="interested != null and interested != ''">
				interested = #{ interested }
			</if>
			<if test="interested == null or interested == ''">
				interested = null
			</if>
		WHERE 
			uidx = #{ uidx }
			
	</update>
	
	<update id="updateLocation" parameterType="UserVO">
	
		UPDATE
			AnnaUser
		SET
			location_auth = #{ location_auth }
		WHERE 
			uidx = #{ uidx }
			
	</update>
	
	<select id="getLocation" parameterType="int" resultType="string">
	
		SELECT
			location_auth
		FROM
			AnnaUser
		WHERE
			uidx = #{ uidx }
			
	</select>
	
	<select id="getInterestedItem" parameterType="hashmap" resultType="BoardItemVO">
	
		SELECT
			a.item_idx,
			a.uidx,
			a.cate_idx,
			a.title,
			a.contents,
			a.wdate,
			a.addr_code,
			a.image1,
			a.image2,
			a.image3,
			a.image4,
			a.image5,
			a.image6,
			a.image7,
			a.image8,
			a.image9,
			a.image10,
			a.keyword,
			a.price,
			a.offer,
			a.hit,
			a.state,
			(SELECT count(*) FROM Wish_list where item_idx = a.item_idx) as WishCount,
			(select count(*) from (SELECT * FROM chat b GROUP BY b.item_idx, b.chat_host, b.invited) c WHERE c.item_idx = a.item_idx) as chatCount
		FROM
			Board_Items a
		WHERE
			a.isdel = 'N' AND
			a.uidx != #{ uidx }
			<foreach collection="keyWord" item="item"  separator="OR" open="AND (" close=")">
				a.keyword like concat('%',#{item},'%')
			</foreach>
		LIMIT 0,15
	</select>
	
	<select id="myBoardItemList" parameterType="int" resultType="BoardItemVO">
	
		select
			a.item_idx,
			a.uidx,
			a.cate_idx,
			a.title,
			a.contents,
			a.wdate,
			a.addr_code,
			a.image1,
			a.image2,
			a.image3,
			a.image4,
			a.image5,
			a.image6,
			a.image7,
			a.image8,
			a.image9,
			a.image10,
			a.keyword,
			a.price,
			a.offer,
			a.hit,
			a.state,
			(SELECT count(*) FROM Wish_list where item_idx = a.item_idx) as WishCount,
			(select count(*) from (SELECT * FROM chat b GROUP BY b.item_idx, b.chat_host, b.invited) c WHERE c.item_idx = a.item_idx) as chatCount
		FROM
			Board_Items a
		WHERE
			a.isDel = 'N' AND
			a.uidx = #{ uidx }
		ORDER BY wdate desc
		LIMIT 0,15
	</select>
	
	<select id="myTownCommunityList" parameterType="java.util.List" resultType="boardvo"> 
		
		SELECT
			b.bidx,
			b.uidx,
			(SELECT nickName FROM AnnaUser u where u.uidx = b.uidx) as nickName,
			b.board_type,
			b.title,
			b.contents,
			DATE_FORMAT(b.wDate,'%Y-%m-%d') as wDate,
			b.hit,
			b.image1,
			b.image2,
			b.image3,
			b.image4,
			b.image5
		FROM 
			Board b
		WHERE
			isDel = 'N' AND
			board_type != 'notice'
			<foreach collection="list" item="item" separator="OR" open="AND (" close=")">
				location like concat('%',#{item},'%')
			</foreach>
		ORDER BY wDate DESC
		LIMIT 0, 5;
		
	</select> 
	
	
	<select id="getMyCommunity" parameterType="int" resultType="boardvo"> 
		
		SELECT
			b.bidx,
			b.uidx,
			(SELECT nickName FROM AnnaUser u where u.uidx = b.uidx) as nickName,
			b.board_type,
			b.title,
			b.contents,
			DATE_FORMAT(b.wDate,'%Y-%m-%d') as wDate,
			b.hit,
			b.image1,
			b.image2,
			b.image3,
			b.image4,
			b.image5
		FROM 
			Board b
		WHERE
			isDel = 'N' AND
			uidx = #{ uidx } AND
			board_type != 'notice'
		ORDER BY wDate DESC
		LIMIT 0, 5;
		
	</select> 
	
	
	
	<select id="neighborList" parameterType="int" resultType="UserVO">
		
		SELECT 
			uidx,
			nickName,
			user_email,
			profile_image,
			introduce
		FROM 
			AnnaUser
		WHERE 
			uidx 
		IN
			(SELECT neighbor_idx FROM Neighbor WHERE uidx = #{ uidx })
		ORDER BY nickName DESC
			 
	</select>
	
	
	
	<select id="getChatList" parameterType="int" resultType="chatVO">
	
		SELECT 
			a.item_idx,
			a.invited,
			(select nickName FROM AnnaUser WHERE uidx = a.invited) invitedNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.invited) invitedProfileImg,
			a.chat_host,
			(select nickName FROM AnnaUser WHERE uidx = a.chat_host) hostNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.chat_host) hostProfileImg,
			(select b.contents from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChat,
			(select date_format(b.cdate,'%Y/%m/%d %p %H:%i') from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChatDate,
			(select image1 from Board_Items where item_idx = a.item_idx) as itemThumbNail,
			(select state from Board_Items where item_idx = a.item_idx) as state,
			(select count(*) from chat where chat_read = 1 and item_idx = a.item_idx and uidx != #{uidx} and chat_host = a.chat_host and invited = a.invited) as newMessages,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx}) chkCanReview,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx} and (option1 = 1 or option2 = 1 or option3 = 1)) chkReview,
			(select b.cdate from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as cdate
		FROM 
			chat a 
		WHERE 
			(chat_host = #{uidx} OR
			invited = #{uidx}) AND
			item_idx != 0
		GROUP BY item_idx, chat_host, invited
		ORDER BY cdate DESC
		
	</select>
	
	
	<select id="getSellChatList" parameterType="int" resultType="chatVO">
	
		SELECT 
			a.item_idx,
			a.invited,
			(select nickName FROM AnnaUser WHERE uidx = a.invited) invitedNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.invited) invitedProfileImg,
			a.chat_host,
			(select nickName FROM AnnaUser WHERE uidx = a.chat_host) hostNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.chat_host) hostProfileImg,
			(select b.contents from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChat,
			(select date_format(b.cdate,'%Y/%m/%d %p %H:%i') from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChatDate,
			(select image1 from Board_Items where item_idx = a.item_idx) as itemThumbNail,
			(select state from Board_Items where item_idx = a.item_idx) as state,
			(select count(*) from chat where chat_read = 1 and item_idx = a.item_idx and uidx != #{uidx} and chat_host = a.chat_host and invited = a.invited) as newMessages,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx}) chkCanReview,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx} and (option1 = 1 or option2 = 1 or option3 = 1)) chkReview,
			(select b.cdate from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as cdate
		FROM 
			chat a 
		WHERE 
			chat_host = #{uidx} AND
			item_idx != 0
		GROUP BY item_idx, chat_host, invited
		ORDER BY cdate DESC
		
	</select>
	
	<select id="getBuyChatList" parameterType="int" resultType="chatVO">
	
		SELECT 
			a.item_idx,
			a.invited,
			(select nickName FROM AnnaUser WHERE uidx = a.invited) invitedNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.invited) invitedProfileImg,
			a.chat_host,
			(select nickName FROM AnnaUser WHERE uidx = a.chat_host) hostNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.chat_host) hostProfileImg,
			(select b.contents from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChat,
			(select date_format(b.cdate,'%Y/%m/%d %p %H:%i') from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as lastChatDate,
			(select image1 from Board_Items where item_idx = a.item_idx) as itemThumbNail,
			(select state from Board_Items where item_idx = a.item_idx) as state,
			(select count(*) from chat where chat_read = 1 and item_idx = a.item_idx and uidx != #{uidx} and chat_host = a.chat_host and invited = a.invited) as newMessages,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx}) chkCanReview,
			(select count(*) from review where item_idx = a.item_idx and seller = a.chat_host and buyer = a.invited and writer = #{uidx} and (option1 = 1 or option2 = 1 or option3 = 1)) chkReview,
			(select b.cdate from chat b where a.item_idx = b.item_idx and a.invited = b.invited and a.chat_host = b.chat_host order by cdate desc Limit 1) as cdate			
		FROM 
			chat a 
		WHERE 
			invited = #{uidx} AND
			item_idx != 0
		GROUP BY item_idx, chat_host, invited
		ORDER BY cdate DESC
		
	</select>
	
	<select id="getChatViewList" parameterType="chatVO" resultType="chatVO">
	
		SELECT 
			a.cidx,
			a.item_idx,
			a.uidx,
			a.invited,
			(select nickName FROM AnnaUser WHERE uidx = a.invited) invitedNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.invited) invitedProfileImg,
			a.chat_host,
			(select nickName FROM AnnaUser WHERE uidx = a.chat_host) hostNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.chat_host) hostProfileImg,
			a.contents,
			date_format(a.cdate,'%Y/%m/%d %p %H:%i') as cDate,
			a.chat_read
		FROM
			chat a
		WHERE
			a.item_idx = #{item_idx} AND
			a.chat_host = #{chat_host} AND
			a.invited = #{invited}
			
	</select>
	
	
	<update id="chatSetRead" parameterType="java.util.List">
	
		UPDATE
			chat
		SET
			chat_read = 0 
		WHERE
			cidx in
			<foreach collection="list" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
	
	</update>
	
	<select id="getMessageNoRead" parameterType="chatVO" resultType="chatVO">
	
		SELECT
			a.cidx,
			a.item_idx,
			a.uidx,
			a.invited,
			(select nickName FROM AnnaUser WHERE uidx = a.invited) invitedNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.invited) invitedProfileImg,
			a.chat_host,
			(select nickName FROM AnnaUser WHERE uidx = a.chat_host) hostNickName,
			(select profile_image FROM AnnaUser WHERE uidx = a.chat_host) hostProfileImg,
			a.contents,
			date_format(a.cdate,'%Y/%m/%d %p %H:%i') as cDate,
			a.chat_read
		FROM
			chat a
		WHERE
			a.item_idx = #{item_idx} AND
			a.chat_host = #{chat_host} AND
			a.invited = #{invited} AND
			a.uidx != #{uidx} AND
			chat_read = 1
			
	</select>
	
	<select id="getWishList" parameterType="int" resultType="BoardItemVO">
	
		SELECT
			a.item_idx,
			a.uidx,
			a.cate_idx,
			a.title,
			a.contents,
			a.wdate,
			a.addr_code,
			a.image1,
			a.image2,
			a.image3,
			a.image4,
			a.image5,
			a.image6,
			a.image7,
			a.image8,
			a.image9,
			a.image10,
			a.keyword,
			a.price,
			a.offer,
			a.hit,
			a.state,
			(SELECT count(*) FROM Wish_list where item_idx = a.item_idx) AS WishCount,
			(SELECT count(*) FROM (SELECT * FROM chat b GROUP BY b.item_idx, b.chat_host, b.invited) c WHERE c.item_idx = a.item_idx) AS chatCount
		FROM
			Board_Items a
		WHERE
			item_idx IN (SELECT item_idx FROM Wish_list where uidx = #{uidx})
		ORDER BY a.wdate DESC
	
	</select>
	
	<update id="updatePwd" parameterType="UserVO">
	
		UPDATE
			AnnaUser
		SET
			user_pwd = #{user_pwd}
		WHERE 
			uidx = #{uidx}
	
	</update>
	
	<update id="updateRandomPwd" parameterType="UserVO">
	
		UPDATE
			AnnaUser
		SET
			user_pwd = #{user_pwd}
		WHERE 
			user_email = #{user_email} AND
			isDel = 'N'
	
	</update>
	
	<insert id="insertReView" parameterType="ReViewVO">
	
		INSERT INTO review(
			satisfied,
			writer,
			option1,
			option2,
			option3,
			item_idx,
			seller,
			buyer
			)
		VALUES (
			#{satisfied},
			#{writer},
			#{option1},
			#{option2},
			#{option3},
			#{item_idx},
			#{seller},
			#{buyer}
			
		)
		
	</insert>
	
	<select id="getMyReview" parameterType="ReViewVO" resultType="ReViewVO">
	
		SELECT
			satisfied,
			option1,
			option2,
			option3
		FROM
			review
		WHERE
			writer = #{ writer } AND
			item_idx = #{ item_idx } AND
			seller = #{ seller } AND
			buyer = #{ buyer } AND
			(
				option1 != 0 OR
				option2 != 0 OR
				option3 != 0
			)
	</select>
	
	
	<select id="getMyReviewForMe" parameterType="ReViewVO" resultType="ReViewVO">
	
		SELECT
			satisfied,
			option1,
			option2,
			option3
		FROM
			review
		WHERE
			writer != #{ writer } AND
			item_idx = #{ item_idx } AND
			seller = #{ seller } AND
			buyer = #{ buyer } AND
			(
				option1 != 0 OR
				option2 != 0 OR
				option3 != 0
			)
	
	</select>
	
	<update id="updateProfile" parameterType="UserVO">
	
	
		UPDATE
			AnnaUser
		SET
			profile_image = #{profile_image}
		WHERE 
			uidx = #{uidx}
	
	</update>
	
	<select id="chkAlarm" parameterType="int" resultType="_int">
	
		SELECT 
			COUNT(*) as cntAlarm
		FROM
			chat
		WHERE
			item_idx = 0 AND
			invited = #{uidx} AND
			chat_read = 1
		
	</select>
	
	<select id="chkBuyNewMessage" parameterType="int" resultType="_int">
	
		SELECT 
			COUNT(*) as cntAlarm
		FROM
			chat
		WHERE
			uidx != #{uidx} AND
			invited = #{uidx} AND
			chat_read = 1
		
	</select>
	
	<select id="chkSellNewMessage" parameterType="int" resultType="_int">
	
		SELECT 
			COUNT(*) as cntAlarm
		FROM
			chat
		WHERE
			uidx != #{uidx} AND
			chat_host = #{uidx} AND
			chat_read = 1
		
	</select>
	
	
	<update id="updateReview">
		
		UPDATE
			review
		SET
			satisfied = #{satisfied},
			option1 = #{option1},
			option2 = #{option2},
			option3 = #{option3}
		WHERE
			writer = #{writer} AND
			seller = #{seller} AND
			buyer = #{buyer} AND
			item_idx = #{item_idx}
			
	</update>
	
	
	<select id="getAlarm" parameterType="int" resultType="chatVO">
	
		SELECT
			contents,
			cDate
		FROM
			chat
		WHERE
			item_idx = 0 AND
			invited = #{uidx}
		ORDER BY 
			cdate DESC
		
	</select>
	
	
	<update id="setAlarmRead" parameterType="int">
	
		UPDATE
			chat
		SET
			chat_read = 0
		WHERE
			item_idx = 0 AND
			invited = #{uidx}
		
	</update>
	
	
	<select id="BenCheck" parameterType="int" resultType="ReportVO">
		
		SELECT
			report_type,
			contents,
			(select count(*) from report where ban = 'Y' AND target = #{uidx}) as banCount,
			DATE_FORMAT(ban_date,'%Y-%m-%d') as ban_date,
			ban_date
		FROM
			report
		WHERE
			target = #{uidx} AND
			ban = 'Y'
		ORDER BY ban_date desc 
		LIMIT 1
			
	</select>
	
</mapper>




