<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- mapper에서 사용할 vo의 별칭을 등록해두는 곳입니다.  -->
         <typeAlias type="edu.fourmen.vo.UserVO" alias="UserVO"/>
         <typeAlias type="edu.fourmen.vo.BoardItemVO" alias="BoardItemVO"/>
         <typeAlias type="edu.fourmen.vo.BoardVO" alias="boardvo"/>
		 <typeAlias type="edu.fourmen.vo.SearchVO" alias="searchvo"/>
		 <typeAlias type="edu.fourmen.vo.PageMaker" alias="pagemaker"/>
		 <typeAlias type="edu.fourmen.vo.Criteria" alias="criteria"/>



    </typeAliases>
</configuration>