@charset "UTF-8";

    	.tabs input{display:none; font-size: 0;} 
    .tabs input:checked + label{color:#191919;}
    .tabs input:checked + label::after{transform: translateY(8px); background:#00AAB2;}

    .tabs label{
        display: inline-block; text-align: center; cursor: pointer;
        font-size:17px; color:#999; padding:0 20px;
    }
    .tabs label::after{content:''; display:block; width:100%; height:3px; background:transtrent; transition:all .2s ease-in-out; }
    .line{display:block; width:100%; height:3px; background-color:#ececec; margin:5px 0 0 0;}
    #about_tab .about_inner{display:none;}
    #tab1:checked ~ #info,
	#tab2:checked ~ #peple,
	#tab3:checked ~ #history{display:block;}
    
#about_tab .tabs #info img{margin-top:40px;}



.about_inner{padding-bottom:0px;}

