@charset "UTF-8";

    	.tabs input{display:none; font-size: 0;} 
    .tabs input:checked + label{color:#191919;}
    .tabs input:checked + label::after{transform: translateY(8px); background:#f9b800;}

    .tabs label{
        display: inline-block; text-align: center; cursor: pointer;
        font-size:17px; color:#999; padding:0 20px;
    }
    .tabs label::after{content:''; display:block; width:100%; height:3px; background:transtrent; transition:all .2s ease-in-out; }
    .line{display:block; width:100%; height:3px; background-color:#ececec; margin:5px 0 0 0;}
    #about_tab .about_inner{display:none;}
    #tab1:checked ~ #info,
	#tab2:checked ~ #peple,
	#tab3:checked ~ #history{display:block;}
    
#about_tab .tabs #info img{margin-top:40px;}

#history ul {margin: 30px auto; position: relative; width: 960px;}

#history ul:before {content: " "; display: block; position: absolute; left: 50%;
    margin-left: -2px; padding: 20px 0; width: 2px; height: 100%; background-color: #eee;}
#history ul li { position: relative; margin-bottom:20px; width: 50%;}
#history ul li:before { content: " ";display: block; position: absolute; top: -4px; left: 85.3333%;
    width: 75px; height: 38px;
    background-image: url('/img/line.jpg'); background-size: 78px 38px;}
#history ul li:nth-child(odd) { padding-left: 59.5%;}
#history ul li:nth-child(odd):before { transform: rotate(180deg); left: 45.3333%;    right: auto;}

#history ul li .detail h4{padding-top:6px; margin-bottom: 10px; font-size:20px; color: #3f454b; font-weight: bold;}
#history ul li .detail p{line-height: 1.7;    letter-spacing: 0.01rem;    color: #707984;    word-break: keep-all;  font-size:14px;}
#history ul li .right{text-align:left;}
#history ul li .right p{padding-right:90px; }
#history ul li .left{text-align:right; padding:0 90px;}

.about_inner{padding-bottom:0px;}

